<!DOCTYPE html>
<html>
  <head>
    <title>Pulpuntec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <%# ------------------------------------ 変更---------------------------------------------------------%>
    <p>テスト</p>
    <%#%samkdjsfnkwnfondwfnk;waoef,wnaegf@wcnpwoehgwnf@wehgfwnf;cpw[ebgqfwnf;cw]%>
    <%= yield %>
  </body>
</html>
